#body{
    font-family: Helvetca, sans-serif;
}
#header{
    width: 100%;
}
header{
    background: #2A2A2A;
}
header ul{
    text-align: center;
}
header ul li{
    display: inline-block;
    padding: 20px 40px;
    color: white;
}
header li a{
    color: white;
    text-decoration:none;
}
li:hover{
    background: deepskyblue;
}
#main{
    margin: auto;
    text-align: justify;
    width: 55%;
}
#main h1{
    text-align: center;
}
body{
    background: url("pexels-aleksandar-pasaric-1323712.jpg");
    font-family: Poppins,sans-serif;
    width: 96%;
    margin: auto;
    min-width: 500px;
}
#image{
    width: 400px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#main hr{
    width: 300px;
    color: black;
}
input[type=text],textarea{
    display: block;
    width: 500px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    margin: 5px auto 15px;
}
form{
    text-align: center;
}
input[type=submit]{
    background: deepskyblue;
    color: white;
    border-radius: 5px;
    padding: 12px 75px;
    border: none;
    cursor: pointer;
}
footer,header{
    border-radius: 5px;
}
#main{
    min-height: 790px;
}
#footer{
    width: 100%;
    background:#2A2A2A;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    border-radius: 5px;
}
#footer div{
    text-align: center;
}
#footer .kol3{
    width: 30%;
}
#footer .kol2{
    text-align: center;
    width: 35%;
    flex-grow: 2;
}
#footer .kol1{
    width: 30%;
}
#footer .kol1 a{
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    color: whitesmoke;
}
#footer .kol2 button{
    width: 30%;
    height: 40px;
    border-radius: 5px;
    background: deepskyblue;
    border: 0;
    color: white;
    cursor: pointer;
}
#footer .kol2 input{
    width: 60%;
}
#footer .kol2 h3{
    margin-bottom: 20px;
}
#header .active{
    background: deepskyblue;
}








